
        
        #logo {border: 1px solid green;}
        nav, button {border: 1px solid blue;}
        header {border:1px solid green;
        display: flex;}


        /**DAY 2**/
/*fonts*/
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  /*fonts*/
        .nav-links li {display: inline;}

        #page-wrapper {
            border: 1px, solid red
        }
        
       #logo {
        border: 1px solid yellow;
        font-size: 50px;
       }
       
       nav {
        border: 1px solid purple;
       }
       
       button {
        padding: 7.5px 1.25px 7.5px 1.25px;
        border-radius: 6px;
        font-size: 16px;
      }

      .contact-me {
        padding: 0.75px 1.25px 0.75px 1.25px;
        border-radius: 1.5px;
        font-size: 16px;
        width: 8.25px;
      }
      button {
        background: lightgray;
        padding: 2px 1px 2px 1px ;
        border-collapse: 2%;
    }
    
        button:hover {
        color: white;
        background-color: darkgray;
    }

       header {
        border: 1px, solid blue;
        display: flex;
        justify-content: space-between;
        padding: 10px 50px 10px 50px;
        align-items: center;
    }

    .nav-links {
        font-family: "Roboto", sans-serif;    
    }

    .nav-links li {
        margin: 20px;
    }

    .nav-links li a {
        text-decoration: none;
        font-size: 14px;
        color:black;
    }

    

        .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        border-radius: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .page-section {
        margin:50px 0px;
    }
     
    .page-section h1{
        color:black;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
    }

/*BILLBOARD*/
    h2 {
        text-align: center;
        color: rgb(7, 0, 14);
    }

    p {
        text-align: center;
        margin-right: 50px;
        margin-left: 50px;
    }

/*MY WORKS*/

    h1{text-align: center;}

    .flex {
        display:flex;
        justify-content: space-between;
        margin-right: 50px;
        margin-left: 50px;
    }

    .work-tile img{
        width: 100%;
        max-width: 325px;
        max-height: 280px;
        
    }
     
/*WORK PROCESS*/

    .item-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #333;
        padding: 0 0 4px 0;
        margin: 0 50px;
}

   .item-heading {
    font-size: 30px;
    margin: 0;
   }

.item-number {
    font-size: 20px;
    border-radius: 40%;
    width: 34px;
    padding: 5px;
    border: 2px solid;
    text-align: center;
}
.item-para {
    padding: 0;
    text-align: left;
}

.work-process-item {
    width: 100%;
    max-width: 1016px;
    margin: 0 auto;
    text-align: left;
}

/*GET IN TOUCH*/

p {
    font-size: 18px;
}


/* Styling the input elements */
 /*input {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 0; /* Added margin for spacing between inputs */
     /* Fixed width for better alignment */



.yourmessage {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-align: left;

}
textarea {
    height: 92px;
    width: 397px;
    border-style: solid;
    border-color: black;
    ;
    
}
#name,
  #email {
    display: inline;
    width: 190px;
    height: 28px;
    padding-left: 6.25px;
    margin: 0 1.25px 2.5px 0;
    background-color: darkgray;
  }
  
  #message {
   
    background-color: darkgray;
    margin-bottom: 2.5px;
    padding: 6.25px 0 0 6.25px;
    border-radius: 2px;
    height: 92px;
    width: 400px;
  }

.sendmessage {
    align-items: center;
    background: lightgray;
    padding: 2px 1px 2px 1px ;
    border-collapse: 2%;
    border-color: black;
}

/*FOOTER*/
.link-list {
    display:flex;
    justify-content: space-evenly;
}

body {
    text-align: center;
    align-items: center;
  }

/*.medialinks li a {
    text-decoration: none;
    font-size: 16px;
    color:blue;
}
.medialinks li {
    margin: 20px;
    display: inline;
    justify-content: left;
}